{% extends 'contact/base.html' %}

{% load i18n %}

{% block main %}
    <h2>{% trans 'Contact us' %}</h2>

    <form action="{% url 'contact' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <button>Send</button>
    </form>
{% endblock %}